.table {
  font-family: sans-serif;
  display: flex;
 
justify-content: center;

  
}
.header{
  text-align: center;
}

.user-element{
  padding:10px;
  text-align: left;
  color:#002E63;
}

img{
  border-radius: 5px;
}